@import "tailwindcss";

body {
    @apply bg-white-primary !overflow-x-hidden scroll-smooth;
}

/* Custom survol color */
::selection {
    @apply bg-theme-primary text-white;
}
::-moz-selection {
    @apply bg-theme-primary text-white;
}

@theme {
    --font-chivo: var(--font-chivo), var(--font-sans);
    --font-figtree: var(--font-figtree), var(--font-sans);
    --font-stix: var(--font-stix), var(--font-sans);
    --color-black-primary: #1a1a1a;
    --color-white-primary: #f6f3f4;
    --color-grey-primary: #ccbfc4;
    --color-grey-text : #b3b3b3;
    --color-theme-primary: #3f07e6;
    --color-theme-secondary: #22007a;
    --color-blue-primary: #0000c1;
}

@layer components {
    .container {
        @apply px-6 mx-auto md:!max-w-[80rem];
    }
}

@keyframes shine {
    0% { background-position: 100%; }
    100% { background-position: -100%; }
}

@layer utilities {
    .animate-shine {
        animation: shine 5s linear infinite;
    }
}

.bg-gradient-primary {
    @apply bg-gradient-to-r from-blue-700 to-blue-primary;
}

.css-title-section {
    @apply text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-center font-figtree tracking-tighter font-medium;
}

.css-subtitle-section {
    @apply mx-auto font-figtree tracking-tight font-light text-center md:text-lg xl:text-xl 2xl:text-2xl;
}

.css-word-italic {
    @apply font-stix tracking-tight font-light italic;
}